<section class="py-5">
    <h2 class="acme-regular brown mb-3 text-center">Contact us!</h2>
    <div class="container col-6 border-orange bg-yellow p-5 rounded-4">
        <div class="form-floating mb-3">
            <input [(ngModel)]="email" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating mb-3">
            <textarea [(ngModel)]="comment" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Comments</label>
        </div>
        <button (click)="sendMail()" class="btn btn-light w-100">Send comment</button>
    </div>
</section>