<section class="py-5">
    <h2>Nexts</h2>
    <div class="container p-4 rounded bg-brown">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th colspan="2">Pet</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Hour</th>
                </tr>
            </thead>
            <tbody>
                @for (date of dates; track $index) {
                    <tr [routerLink]="['/date', date.dateID]">
                        <td>
                            <img [src]="pets[date.petId].img" class="rounded img-fluid shadow" alt="">
                        </td>
                        <td>{{pets[date.petId].name}}</td>
                        <td>{{date.name}}</td>
                        <td>{{date.phone}}</td>
                        <td>{{date.date.month | number: '2.'}}/{{date.date.day | number: '2.'}}/{{date.date.year}}</td>
                        <td>{{date.date.hour}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>
<section class="py-5">
    <h2>Latest</h2>
    <div class="container p-4 rounded bg-brown">
        <table class="table table-light table-hover">
            <thead>
                <tr>
                    <th colspan="2">Pet</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Hour</th>
                </tr>
            </thead>
            <tbody>
                @for (date of datesL; track $index) {
                    <tr [routerLink]="['/date', date.dateID]">
                        <td>
                            <img [src]="pets[date.petId].img" class="rounded img-fluid shadow" alt="">
                        </td>
                        <td>{{pets[date.petId].name}}</td>
                        <td>{{date.name}}</td>
                        <td>{{date.phone}}</td>
                        <td>{{date.date.month | number: '2.'}}/{{date.date.day | number: '2.'}}/{{date.date.year}}</td>
                        <td>{{date.date.hour}}</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>