<app-devs></app-devs>
<section class="py-5 bg-yellow">
    <div class="container">
        <div class="p-4 rounded-5 mb-4 bg-white">
            <h2 class="text-center acme-regular">Objective</h2>
            <p class="lead p-4">
                Loworem ipsuwum dolowor sit amet cowonsectetur adipisicing elit. Nibh cowonuwubia? Viverra vehicuwula dictuwum mi owo vitae nisl integer. Cowonguwue vuwulpuwutate uwurna bibenduwum platea netuwus ante poworttitowor arcuwu etiam accuwumsan puwuruwus liberowo :3 habitant fringilla? Blandit in! Enim. Sem fauwucibuwus mauwuris. Bibenduwum risuwus cuwurae gravida pharetra nowostra! Cowonsectetuwur! Uwut cowonuwubia? Duwui diam mauwuris. Euwuismowod maecenas felis uwut aliquwuet etiam aliquwuam venenatis phaselluwus uwu moworbi eget lowobowortis uwu uwultricies :3 auwuctowor, dowonec dowonec fames a etiam amet? Cras semper owo nequwue cowonsequwuat sowollicituwudin, quwuis nisi owo suwuspendisse, powosuwuere himenaeowos fauwucibuwus powotenti, etiam maecenas ante prowoin vel tristiquwue owo in! Leowo nuwulla inceptowos.
            </p>
        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="text-center acme-regular">Mision</h2>
                <p class="lead p-4">
                    Loworem ipsuwum dolowor sit amet cowonsectetur adipisicing elit. Nibh cowonuwubia? Viverra vehicuwula dictuwum mi owo vitae nisl integer. Cowonguwue vuwulpuwutate uwurna bibenduwum platea netuwus ante poworttitowor arcuwu etiam accuwumsan puwuruwus liberowo :3 habitant fringilla? Blandit in! Enim. Sem fauwucibuwus mauwuris. Bibenduwum risuwus cuwurae gravida pharetra nowostra! Cowonsectetuwur! Uwut cowonuwubia? Duwui diam mauwuris. Euwuismowod maecenas felis uwut aliquwuet etiam aliquwuam venenatis phaselluwus uwu moworbi eget lowobowortis uwu uwultricies :3 auwuctowor, dowonec dowonec fames a etiam amet? Cras semper owo nequwue cowonsequwuat sowollicituwudin, quwuis nisi owo suwuspendisse, powosuwuere himenaeowos fauwucibuwus powotenti, etiam maecenas ante prowoin vel tristiquwue owo in! Leowo nuwulla inceptowos.
                </p>
            </div>
            <div class="col-md-2 bg-orange"></div>
            <div class="col-md-5">
                <h2 class="text-center acme-regular">Vision</h2>
                <p class="lead p-4">
                    Loworem ipsuwum dolowor sit amet cowonsectetur adipisicing elit. Nibh cowonuwubia? Viverra vehicuwula dictuwum mi owo vitae nisl integer. Cowonguwue vuwulpuwutate uwurna bibenduwum platea netuwus ante poworttitowor arcuwu etiam accuwumsan puwuruwus liberowo :3 habitant fringilla? Blandit in! Enim. Sem fauwucibuwus mauwuris. Bibenduwum risuwus cuwurae gravida pharetra nowostra! Cowonsectetuwur! Uwut cowonuwubia? Duwui diam mauwuris. Euwuismowod maecenas felis uwut aliquwuet etiam aliquwuam venenatis phaselluwus uwu moworbi eget lowobowortis uwu uwultricies :3 auwuctowor, dowonec dowonec fames a etiam amet? Cras semper owo nequwue cowonsequwuat sowollicituwudin, quwuis nisi owo suwuspendisse, powosuwuere himenaeowos fauwucibuwus powotenti, etiam maecenas ante prowoin vel tristiquwue owo in! Leowo nuwulla inceptowos.
                </p>
            </div>
        </div>
    </div>
</section>