<app-devs></app-devs>
<section class="py-5 bg-yellow">
    <div class="container">
        <div class="p-4 rounded-5 mb-4 bg-white">
            <h2 class="text-center acme-regular">Objective</h2>
            <p class="lead p-4">
                At 'Capibara Team', we strive to transform lives, both of pets and people. Our goal is to rescue, rehabilitate, and rehome homeless pets into loving, safe homes. We are dedicated to creating lasting connections between pets and people, and promoting responsible adoption. We believe that every pet deserves a life full of love, care and happiness, and we work every day to make this dream a reality. Through our work, we hope to inspire more people to open their hearts to pets in need and experience the unconditional love they can offer.        </div>
        <div class="row">
            <div class="col-md-5">
                <h2 class="text-center acme-regular">Mision</h2>
                <p class="lead p-4">
                    Our mission is to connect homeless pets with loving, responsible people who can provide them with a safe and loving home. We are committed to working tirelessly to ensure that every pet that comes through our doors finds a home where they can live happily and healthily.
                </p>
            </div>
            <div class="col-md-2 bg-orange"></div>
            <div class="col-md-5">
                <h2 class="text-center acme-regular">Vision</h2>
                <p class="lead p-4">
                    Our vision is a world where every pet has a loving home. We want to be recognized as an organization that makes a tangible difference in the lives of pets and people, fostering lasting relationships and promoting responsible pet adoption.
                </p>
            </div>
        </div>
    </div>
</section>