<div class="cont">
    <h1>You can't buy <span class="acme-regular orange">love</span>, but you can <span class="acme-regular orange">adopt</span> it!</h1>
    <p class="hero-p">We are a team that seeks to give a dignified and happy life to all the animals that have not received the love they deserve.</p>
    <a href="/pets" class="py-2 px-4 rounded-3 acme-regular">Get a friend</a>
</div>
  
<div class="blank">
  <app-info></app-info>
</div>
  
<div class="cont second">
  <app-carousel></app-carousel>
</div>