<div class="cont">
    <h1>You can't buy <span class="acme-regular orange">love</span>, but you can <span class="acme-regular orange">adopt</span> it!</h1>
    <p class="hero-p">At Pawsitive, our mission is to connect homeless pets with loving, responsible people who can provide them with a safe and loving home. We are committed to working tirelessly to ensure that every pet that comes through our doors finds a home where they can live happily and healthily.</p>
    <a href="/pets" class="py-2 px-4 rounded-3 acme-regular">Get a friend</a>
</div>
  
<div class="blank">
  <app-info></app-info>
</div>
  
<div class="cont second">
  <app-carousel></app-carousel>
</div>