<section class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container">
      <div class="py-4 w-100 acme-regular">
        <div class="row row-cols-1 row-cols-lg-3 g-4">
          <div class="col">
            <div class="bg-brown border rounded shadow text-white p-2">
              <h4>Number of pets available</h4>
              <div class="tab">
                <h6>{{pets}}</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bg-brown border rounded shadow text-white p-2">
              <h4>Number of users registered</h4>
              <div class="tab">
                <h6>{{users}}</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bg-brown border rounded shadow text-white p-2">
              <h4>Number of developers</h4>
                <div class="tab">
                  <h6>{{devs}}</h6>
                </div>
              </div>
          </div>
        </div>
        <div class="bg-orange label border" style="display: flex;justify-content: center; align-items: center; flex-direction: column; border-radius: 1rem; margin: 2rem; padding: 1.5rem;">
          <label for=""><h1 style="color: white;" >Mes</h1></label>
          <p-calendar [(ngModel)]="selectedDate" view="month" dateFormat="mm/yy" [yearNavigator]="true" [monthNavigator]="true"
          [yearRange]="yearRange!" (onSelect)="cambiarFecha($event)" [readonlyInput]="true"></p-calendar>
        </div>
        <div class="row row-cols-1 row-cols-lg-2 g-3">
          <div class="col">
            <div class="bg-yellow border rounded shadow p-3">
              <h2>Registers on the site per day</h2>
              <div class="graph1">
                <!-- <app-admin-graph></app-admin-graph> -->
                <div class="chart"> 
                  <canvas id="myChart" width="12rem" height="8rem"></canvas>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="bg-yellow border rounded shadow p-3">
              <h2>Visits on site per day</h2>
              <div class="graph2">
                <!-- <app-graph1></app-graph1> -->
                <div class="chart"> 
                  <canvas id="graph2" width="12rem" height="8rem"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>