<header class="py-3 border-bottom bg-carrot">
    <div class="container d-flex flex-wrap justify-content-center">
      <a href="/home" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto link-body-emphasis text-decoration-none">
        <span class="material-symbols-outlined me-2 pumpkin fs-1">pets</span>
        <span class="fs-2 sunflower acme-regular">Capibara <span class="pumpkin">Team</span></span>
      </a>
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
</header>