<header class="py-3 bg-transparent">
    <div class="container d-flex flex-wrap justify-content-between">
      <a href="/team" class="d-flex align-items-center mb-3 mb-lg-0 link-body-emphasis text-decoration-none">
        <span class="fs-2 white acme-regular">Capibara <span class="pumpkin">Team</span></span>
      </a>
      <a href="/home" class="paw d-flex align-items-center mb-3 mb-lg-0 link-body-emphasis text-decoration-none">
        <img src="../../../assets/images/logo.png" alt="CTlogo" style="width: 50px;">
      </a>
      <a href="/pets" class="d-flex align-items-center mb-3 mb-lg-0 link-body-emphasis text-decoration-none">
        <span class="fs-2 white acme-regular">Get a friend!</span>
      </a>
    </div>
</header>