
<h1>Registra tu visita</h1>
<div id="Card-mascota" >
    <div id="left">
        <h5 class="card-title">{{pet.name}}</h5>
            <img src={{pet.img}} class="card-img-top" [id]="idx">
            <div class="card-body">
                <p class="card-text">Datos</p>
                <p class="card-text">Edad aproximada: {{pet.age}} años</p>
                <p class="card-text">{{pet.details}}</p>
            </div>
    </div>
    <div id="right">
        <form>
            <fieldset>
              <legend>Elije la fecha e ingresa tus datos</legend>
              <div class="mb-3">
                <label type="text" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control">
              </div>

              <div class="mb-3">
                <label type="text" class="form-label">Direccion</label>
                <input type="text" id="name" class="form-control">
              </div>

              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Disabled select menu</label>
                <select id="disabledSelect" class="form-select">
                  <option>Disabled select</option>
                </select>
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" >
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
    </div>
</div>