
<h1>Registra tu visita</h1>
<div id="Card-mascota" >
    <div id="left">
        <h5 class="card-title">{{pet.name}}</h5>
            <img src={{pet.img}} class="card-img-top" [id]="idx">
            <div class="card-body">
                <p class="card-text">Datos</p>
                <p class="card-text">Edad aproximada: {{pet.age}} años</p>
                <p class="card-text">{{pet.details}}</p>
            </div>
    </div>
    <div id="right">
      <div class="card">
        <p-stepper orientation="vertical">
            <p-stepperPanel header="Header I">
                <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            Content I
                        </div>
                    </div>
                    <div class="flex py-4">
                        <p-button label="Next" (onClick)="nextCallback.emit()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Header II">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            Content II
                        </div>
                    </div>
                    <div class="flex py-4 gap-2">
                        <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
                        <p-button label="Next" (onClick)="nextCallback.emit()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
            <p-stepperPanel header="Header III">
                <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
                    <div class="flex flex-column h-12rem">
                        <div class="border-2 border-dashed surface-border border-round surface-ground flex-auto flex justify-content-center align-items-center font-medium">
                            Content III
                        </div>
                    </div>
                    <div class="flex py-4">
                        <p-button label="Back" (onClick)="prevCallback.emit()" />
                    </div>
                </ng-template>
            </p-stepperPanel>
        </p-stepper>
    </div>
    </div>
</div>
<!--
  <form>
            <fieldset>
              <legend>Elije la fecha e ingresa tus datos</legend>
              <div class="mb-3">
                <label type="text" class="form-label">Nombre</label>
                <input type="text" id="name" class="form-control">
              </div>

              <div class="mb-3">
                <label type="text" class="form-label">Direccion</label>
                <input type="text" id="name" class="form-control">
              </div>

              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Disabled select menu</label>
                <select id="disabledSelect" class="form-select">
                  <option>Disabled select</option>
                </select>
              </div>

              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" >
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
          </form>
-->