@if (myDevs.length > 0) {
    <section class="py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 mb-2 d-flex justify-content-center">
                    <div class="logo d-flex justify-content-center align-items-center animate__animated animate__rubberBand">
                        <span class="material-symbols-outlined">pets</span>
                    </div>
                </div>
                <div class="col-lg-6 mb-2 d-flex justify-content-center grow">
                    @if (myDevs[1] != undefined) {
                        <img [routerLink]="['/dev', myDevs[1].id]" class="dev2 my-auto animate__animated animate__rubberBand" [src]="myDevs[1].data.image" alt="">
                    }
                    <div class="circle-lg bg-orange mx-3 mt-auto"></div>
                    @if (myDevs[5] != undefined) {
                        <img [routerLink]="['/dev', myDevs[5].id]" class="dev1 animate__animated animate__rubberBand" [src]="myDevs[5].data.image" alt="">
                    }
                    <div class="circle-md bg-brown mb-3 mx-3 mt-auto"></div>
                    <div class="circle-sm bg-orange mb-auto"></div>
                </div>
                <div class="col-lg-3 mb-2 d-flex justify-content-center">
                    @if (myDevs[8] != undefined) {
                        <img [routerLink]="['/dev', myDevs[8].id]" class="dev2 mt-auto animate__animated animate__rubberBand" [src]="myDevs[8].data.image" alt="">
                    }
                    <div class="circle-md bg-brown mb-auto"></div>
                    @if (myDevs[3] != undefined) {
                        <img [routerLink]="['/dev', myDevs[3].id]" class="dev2 my-auto animate__animated animate__rubberBand" [src]="myDevs[3].data.image" alt="">
                    }
                </div>
                <div class="col-lg-3 mb-2 d-flex flex-column align-items-center">
                    @if (myDevs[6] != undefined) {
                        <img [routerLink]="['/dev', myDevs[6].id]" class="dev1 ms-auto animate__animated animate__rubberBand" [src]="imgURL + myDevs[6].data.image" alt="">
                    }
                    <div class="circle-sm bg-orange mx-auto"></div>
                </div>
                <div class="col-lg-6 mb-2 d-flex flex-column align-items-center justify-content-center">
                    <span class="title orange acme-regular">Our team</span>
                    <span class="fs-4 acme-regular">We are pet friendly devs</span>
                </div>
                <div class="col-lg-3 mb-2 d-flex justify-content-center grow">
                    @if (myDevs[0] != undefined) {
                        <img [routerLink]="['/dev', myDevs[0].id]" class="dev3 my-auto animate__animated animate__rubberBand" [src]="imgURL + myDevs[0].data.image" alt="">
                    }
                </div>
                <div class="col-lg-4 mb-2 d-flex justify-content-end grow">
                    @if (myDevs[4] != undefined) {
                        <img [routerLink]="['/dev', myDevs[4].id]" class="dev3 my-auto animate__animated animate__rubberBand" [src]="myDevs[4].data.image" alt="">
                    }
                </div>
                <div class="col-lg-5 mb-2 d-flex justify-content-center grow">
                    @if (myDevs[7] != undefined) {
                        <img [routerLink]="['/dev', myDevs[7].id]" class="dev1 mt-auto mx-3 mb-3 animate__animated animate__rubberBand" [src]="imgURL + myDevs[7].data.image" alt="">
                    }
                    <div class="circle-sm bg-orange mb-auto"></div>
                    <div class="circle-lg bg-yellow mt-auto"></div>
                </div>
                <div class="col-lg-3 mb-2 d-flex justify-content-center">
                    <div class="circle-sm bg-orange mb-auto"></div>
                    <div class="circle-md bg-yellow mx-5 mb-auto"></div>
                </div>
            </div>
        </div>
    </section>
}