<p-toast />
<section class="py-5">
    <div class="container">
        @if (petIndex != -1 && pet) {
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex flex-column align-items-center">
                      <span class="acme-regular fs-2 orange">{{pet.data.name}}</span>
                      <img [src]="imgURL + pet.data.img" class="card-img-top">                            
                      <button [routerLink]="['/us',pet.id]" class="acme-regular btn btn-warning w-50 mt-3">Get to know me!</button>
                    </div>      
                    <div>
                        <div class="bg-white py-2 rounded d-flex justify-content-center my-3">
                            @for (tag of pet.data.tag; track tag) {
                                <span role="button" class="badge me-2" [ngClass]="{
                                    'bg-orange': tag === 'friendly',
                                    'bg-yellow brown': tag === 'sleepy',
                                    'bg-brown white': tag === 'energetic',
                                    'border-yellow yellow': tag === 'reserved',
                                    'border-orange orange': tag === 'relaxed',
                                    'border-brown brown': tag === 'loving',
                                    'dotted-orange': tag === 'playful',
                                    'dotted-yellow': tag === 'tall',
                                    'dotted-brown': tag === 'funny'
                                }" [routerLink]="['/tagpet',tag]">{{tag}}</span>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-6 bg-orange rounded p-4">
                    <div class="bg-yellow rounded p-4">
                        <p class="lead">
                            <span style="font-size: 1rem" class="material-symbols-outlined">
                            update
                            </span>
                            Average age: {{pet.data.age}} years
                        </p>
                        <p class="lead">
                            <span style="font-size: 1rem" class="material-symbols-outlined">
                            invert_colors
                            </span>
                            Color: {{pet.data.color}}
                        </p>
                        <p class="lead">
                            <span style="font-size: 1rem" class="material-symbols-outlined">
                            pets
                            </span>
                            Breed: {{pet.data.breed}}
                        </p>
                        <p class="lead">
                            <span style="font-size: 1rem" class="material-symbols-outlined">
                            event_upcoming
                            </span>
                            Time at the shelter: {{pet.data.stay}}
                        </p>
                        <p class="border-top border-dark pt-2">{{pet.data.details}}</p>
                    </div>
                </div>
            </div>
        } @else {
            <div class="alert alert-danger text-center" role="alert">
                Pet with name "{{searchName}}" not found.
            </div>
        }        
    </div>
</section>