<section>
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 px-3 d-flex flex-column justify-content-center align-items-center align-items-md-end">
                <span class="title acme-regular orange">Be a hero!</span>
                <span class="text acme-regular yellow">You can save them</span>
            </div>
            <div class="col-md-6 px-3 d-flex flex-column justify-content-center align-items-center align-items-md-start">
                <a href="/pets" class="cta acme-regular">Adopt</a>
            </div>
        </div>
    </div>
</section>