<section class="bg-sunflower p-4">
    <h1 class="text-center pumpkin display-3 acme-regular">Cat Facts</h1>
    @if (cuteCats.lenght != 0) {
        <div class="">
            <div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
                @for (cat of cuteCats; track $index) {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-15  mb-4">
                        <div class="card">
                            <img class="card-img-top" height="200" src='https://cataas.com/cat/{{cuteCats[$index]._id}}' alt="">
                            <div class="card-body">
                                <p class="card-text">{{catFacts[$index].fact}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-15 mb-4">
                        <div class="card p-3">
                            <figure class="p-3 mb-0">
                                <blockquote class="blockquote">
                                    <p>{{catFacts[$index + 10].fact}}</p>
                                </blockquote>
                            </figure>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</section>
