<section class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="py-4 w-100">
        
        <div class="container">
            <table class="table table-dark table-hover">
                <thead>
                    <tr>
                        <td class="d-flex align-items-center justify-content-center">
                            <span [routerLink]="['/addUser']" role="button" class="material-symbols-outlined">
                                add_circle
                            </span>
                        </td>
                        <td colspan="2">User</td>
                        <td>UserName</td>
                        <td>Name</td>
                        <td>Email</td>
                        <td>Phone</td>
                    </tr>
                </thead>
                @if (users.length > 0) {
                    <tbody>
                        @for (user of users; track $index) {
                            <tr>
                                <td colspan="2">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <span (click)="deleteUser(user.id)" role="button" class="material-symbols-outlined">
                                            delete_forever
                                        </span>
                                    </div>
                                </td>
                                <td><img class="rounded-3" [src]="imgURL + user.data.image" alt=""></td>
                                <td>{{user.data.name.username}}</td>
                                <td><pre>{{user.data.name.firstname}} {{user.data.name.lastname}}</pre></td>
                                <td>{{user.data.email}} years</td>
                                <td>{{user.data.phone}}</td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</section>