#content-cards {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  font-family: "Acme", sans-serif;
  .card {
    border-radius: 20px;
    padding: 1% 1%;
    background-color: var(--black-base);
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease;
    &:hover {
      transform: scale(1.1);
      z-index: 10;
    }
    .card-title {
      text-align: center;
      color: var(--orange);
      text-shadow: 2px 2px var(--pumpkin);
      border-radius: 20px;
      padding: 1% 1%;
    }
    .card-text {
      text-shadow: 2px 2px var(--pumpkin);
    }
    .card-img-top {
      padding: 3%;
      border-radius: 20px;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    .btn {
      background-color: var(--turquoise-color);
      color: black;
      border-style: solid 3px;
      border-color: var(--greensea);
    }
  }
}
