<section class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="py-4 w-100">
        <h3 class="text-center acme-regular brown mb-3">Add Usser</h3>
        <div class="container col-10 bg-orange rounded-3">
            <form [formGroup]="userForm" (ngSubmit)="submit()">
            <div class="row g-3 pb-3">
                <div class="col-md-6  align-items-center">
                    <br>
                    <div class="input-group form-floating w-100">
                        <span class="input-group-text" id="username">Name</span>
                        <input formControlName="username" required type="text" class="form-control" id="username" placeholder="UserName" aria-label="Username" aria-describedby="name">
                        @if(this.userForm.get('username')?.errors?.['required']){
                            <p class="msg error-msg">Please, enter an User Name</p>
                        }
                    </div>
                    <br>
                    <div class="input-group form-floating w-100">
                        <span class="input-group-text" id="firstname">First Name</span>
                        <input formControlName="firstname" type="text" class="form-control" id="firstname" placeholder="FirstName">
                        @if(enviado && userForm.controls.firstname.errors){
                            @if(userForm.controls.firstname.errors['required']){
                            <p class="msg error-msg">Please, enter your First Name</p>
                            }
                        }
                    </div>
                </div>

                <div class="col-md-6  align-items-center">
                    <br>
                    <div class="input-group">
                        <span class="input-group-text" id="image">Image</span>
                        <input (change)="selectFile($event)" accept="image/png, image/gif, image/jpeg" class="form-control" id="file" name="file" type="file">
                    </div>
                    <br>
                    <div class=" input-group form-floating w-100">
                        <span class="input-group-text" id="lastname">Last Name</span>
                        <input formControlName="lastname" type="text" class="form-control" id="lastname" placeholder="LastName">
                        @if(enviado && userForm.controls.lastname.errors){
                            @if(userForm.controls.lastname.errors['required']){
                            <p class="msg error-msg">Please, enter your Last Namer</p>
                            }
                        }
                    </div>
                </div>

                <hr>
                <div class="col-md-12 align-items-center">
                    <div class="input-group form-floating w-100">
                        <span class="input-group-text" id="email">Email</span>
                        <textarea formControlName="email" type="text" class="form-control" id="email" placeholder="Email"></textarea>
                        @if(enviado && userForm.controls.email.errors){
                            @if(userForm.controls.email.errors['required']){
                            <p class="msg error-msg">Please, enter your phone email</p>
                            }
                        }
                    </div>
                    <br>
                    <div class="input-group form-floating w-100">
                        <span class="input-group-text" id="phone">Phone Number</span>
                        <textarea formControlName="phone" type="text" class="form-control" id="phone" placeholder="Phone"></textarea>
                        @if(enviado && userForm.controls.phone.errors){
                            @if(userForm.controls.phone.errors['required']){
                            <p class="msg error-msg">Please, enter your phone number</p>
                            }
                        }
                    </div>
                </div>

                <hr>
                <div class="col-md-6">
                    <div class="input-group form-floating">
                        <span class="input-group-text" id="password">Password</span>
                        <input formControlName="contra"  type="password"  class="form-control" id="password" placeholder="Password">
                        @if(enviado && userForm.controls.contra.errors){
                            @if(userForm.controls.contra.errors['required']){
                            <p class="msg error-msg">Please, enter your password</p>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group form-floating">
                        <span class="input-group-text" id="password">Confirm Password</span>
                        <input formControlName="contra2" type="password" class="form-control" id="stay" placeholder="Confirm Password">
                        
                        @if(enviado && userForm.controls.contra2.errors){
                            @if(userForm.controls.contra2.errors['required']){
                            <p class="msg error-msg">Por favor, ingrese la contraseña</p>
                            } @else if (userForm.controls.contra2.errors['validacion']) {
                            <p class="msg error-msg">Passwords do not match</p>
                            }
                        }
                    </div>
                </div>
                <div class="col-md-12 py-3 d-flex justify-content-center">
                    <button (click)="addUser()" class="btn w-50 btn-outline-light">Add User</button>
                </div>
            </div>
        </form>
        @if (result) {
            <div class="rounded bg-warning text-white shadow">
              <p class="lead py-2 text-center">{{result}}</p>
            </div>
          }
        </div>
    </div>
</section>
