<div class="bg-orange py-2"></div>
<section class="py-5">
    <div class="container d-flex justify-content-center align-items-center flex-column">
        <iframe 
            class="border-4 border-white border"
            width="560" 
            height="315" 
            [src]="video| videopipe:'https://www.youtube.com/embed/'" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen
        >
        </iframe>
    </div>
</section>