<div class="container py-5">
    <div class="row">
        <div class="col-md-4 brown d-flex flex-column justify-content-center align-items-center">
          <span class="material-symbols-outlined">pets</span>
          <span class="fs-3 fw-bold acme-regular">STAY</span>
          <span class="orange fw-bolder acme-regular fs-1">PAWSITIVE</span>
        </div>
        <div class="col-md-8 px-5 d-flex align-items-center">
            <p class="lead" style="font-size: x-large;">
              Our vision is a world where every pet has a loving home. We want to be recognized as an organization that makes a tangible difference in the lives of pets and people, fostering lasting relationships and promoting responsible pet adoption.
            </p>
        </div>
    </div>
</div>