<div class="container py-5">
    <div class="row">
        <div class="col-md-4 brown d-flex flex-column justify-content-center align-items-center">
          <span class="material-symbols-outlined">pets</span>
          <span class="fs-3 fw-bold acme-regular">STAY</span>
          <span class="orange fw-bolder acme-regular fs-1">PAWSITIVE</span>
        </div>
        <div class="col-md-8 px-5 d-flex align-items-center">
            <p class="lead" style="font-size: x-large;">
              Every animal deserves love, care and a safe home. Remember, you're not just saving a life, you're gaining a loyal and loving friend. Adopt, don't buy, and let the unconditional love of an adopted pet change your life forever.
            </p>
        </div>
    </div>
</div>