@import "primeicons/primeicons.css";

:root {
  --greensea: rgb(22, 160, 133);
  --turquoise-color: rgb(26, 188, 156);
  --nephritis: rgb(39, 174, 96);
  --emerald: rgb(46, 204, 113);
  --sunflower: rgb(241, 196, 15);
  --pumpkin: rgb(211, 84, 0);
  --carrot: rgb(230, 126, 34);
  --black-base: #000000;
  --white-color: #ffffff;
  --white: #f6f1e9;
  --yellow: #ffd93d;
  --orange: #ff8400;
  --brown: #4f200d;
  --brown-shadow: #65451f;
}

#bootstrap-override .bg-white {
  background-color: var(--white);
}

#bootstrap-override .bg-yellow {
  background-color: var(--yellow);
}

#bootstrap-override .bg-orange {
  background-color: var(--orange);
}

#bootstrap-override .bg-brown {
  background-color: var(--brown);
}

#bootstrap-override .bg-white {
  background-color: var(--white);
}


#bootstrap-override .white {
  color: var(--white);
}

#bootstrap-override .yellow {
  color: var(--yellow);
}

#bootstrap-override .orange {
  color: var(--orange);
}

#bootstrap-override .brown {
  color: var(--brown);
}

.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}
